{% extends "_base.html" %}

{% block main %}
    <h1>/b/</h1>
    <form method="post" action="/b/new/" class="post-form">
        <div class="post-form-controls">
            <label for="id_content">What's up?</label>
            {% csrf_token %}
            <button type="submit">Tell</button>
        </div>

  </form>

{% for post in object_list%}
    <article class="post">
        <section>{{ post.content }}</section>

        <p>{{post.created_at}}</p>
        <p>{{ post.nr_likes }}</p>
        <p>{{ post.nr_views }}</p>
    </article>

{% endfor %}
{% endblock %}